xterm*eightBitControl: false
xterm*eightBitInput:   false
xterm*eightBitOutput:  true
xterm*utf8:            1
xterm*background:  White
xterm*foreground:  Black
xterm*cursorColor: rgb:ff/00/00
xterm*saveLines: 1000
xterm*color0: black
xterm*color1: red3
xterm*color2: green3
xterm*color3: yellow3
xterm*color4: DodgerBlue1
xterm*color5: magenta3
xterm*color6: cyan3
xterm*color7: gray90
xterm*color8: gray50
xterm*color9: red
xterm*color10: green
xterm*color11: yellow
xterm*color12: blue
xterm*color13: magenta
xterm*color14: cyan
xterm*color15: white
xterm*colorUL: yellow
xterm*colorBD: white
xterm*rightScrollBar: true
xterm*font:     -*-terminus-bold-r-*-*-*-200-*-*-*-*-iso10646-1
xterm*boldFont:     -*-terminus-bold-r-*-*-*-200-*-*-*-*-iso10646-1
xterm*font1:     -*-terminus-bold-r-*-*-*-100-*-*-*-*-iso10646-1
xterm*font2:     -*-terminus-bold-r-*-*-*-150-*-*-*-*-iso10646-1
xterm*font3:     -*-terminus-bold-r-*-*-*-150-*-*-*-*-iso10646-1
xterm*font4:     -*-terminus-bold-r-*-*-*-150-*-*-*-*-iso10646-1
xterm*font5:     -*-terminus-bold-r-*-*-*-150-*-*-*-*-iso10646-1
xterm*font6:     -*-terminus-bold-r-*-*-*-150-*-*-*-*-iso10646-1
xterm*geometry: 80x25
XTerm*fullscreen: never
XTerm.omitTranslation: fullscreen

